<section
  id="portfolio"
  class="app-background-escuro d-flex justify-content-center align-items-center"
>
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Portfólio</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-5">
      <div class="col-auto">
        <img
          class="img-fluid"
          src="/img-academia-sm.png"
          alt=""
        />
      </div>

      <div class="col-auto">
        <img
          class="img-fluid"
          src="/showcase-locadora.gif"
          alt="Aplicação gerenciador de cinema"
        />
      </div>
    </div>
  </div>
</section>
