<section
  id="sobre"
  class="app-background-escuro-2 d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img
        class="img-fluid rounded-pill img-tamanho-grande"
        src="/Luis.JPG"
        alt="Foto do Luis Eduardo"
      />
    </div>
    <h2 class="display-5 fw-bold text-center mt-5">Um pouco sobre mim</h2>
    <div class="row flex-wrap">
      <div class="col-lg-8">
        <h3 class="fs-3">
          Meu nome é Luis Eduardo, sou um desenvolvedor Full-Stack
        </h3>
        <p class="fs-5 mt-3">
          Estou atuando na área há 4 anos. Desenvolvi vários projetos robustos
          com diferentes regras de negócio, utlizando a
          <span class="app-texto-principal fw-semibold">Plataforma .NET</span>,
          <span class="app-texto-principal fw-semibold">Laravel</span> e
          diferentes tecnologias.
        </p>
        <p class="fs-5">
          Hoje, estou estudando no
          <span class="app-texto-principal fw-semibold"
            >Instituto Federal de Santa Catarina</span
          >
          cursando o bacharelado em Ciência da Computação e na
          <span class="app-texto-principal fw-semibold"
            >Academia do Programador</span
          >, como desenvolvedor trainee
        </p>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item py-3 app-background-principal">
            <strong>Nome:</strong> Luis Eduardo Maia da Silva
          </li>
          <li class="list-group-item py-3 cor-background-2">
            <strong>Email: </strong>
            <a href="mailto:luiseduardosilva799@gmail.com"
              >luiseduardosilva799&#64;gmail.com</a
            >
          </li>
          <li class="list-group-item py-3 app-background-principal">
            <strong>Idade:</strong> 19 anos
          </li>
          <li class="list-group-item py-3 cor-background-2">
            <strong>De:</strong> Lages, Santa Catarina
          </li>
        </ul>
        <div
          class="d-flex justify-content-center align-items-center gap-3 mt-3"
        >
          <a class="text-light" href="https://github.com/luisEduardosilv">
            <i class="bi bi-github fs-1"></i>
          </a>
          <a
            class="text-light"
            href="https://www.linkedin.com/in/luiseduardo--/"
          >
            <i class="bi bi-linkedin fs-1"></i>
          </a>
          <a
            class="btn btn-lg btn-success app-hover-secundario rounded-5 px-md-5 fw-semibold"
            href="https://api.whatsapp.com/send?phone=5549999409699&type=phone_number&app_absent=0"
            target="_blank"
            >Contato via WhatsApp</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
